body {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

html {
    background: url('Content/Images/Photo.jpg') no-repeat center center fixed;
    min-width: 1024px;
}

h1 {
    border: 2px solid;
    border-radius: 20px;
}

h3 {
    margin-left: 350px;
    margin-top: -50px;
}

h4 {
    margin-left: 350px;
}

#ImageWP {
    width: 850px;
    height: 150px;
    margin-left: 20px;
    margin-top: -20px;
    opacity: 0.7;
    border: 2px solid;
    border-radius: 20px;
}

#ImageContact {
    width: 150px;
    height: 70px;
    margin-left: 550px;
    margin-top: 400px;

}

#ImageResume {
    width: 150px;
    height: 70px;

}

#PhotoPerfil {
    border-radius: 20px;
    position: relative;
    
}

.contactForm {
    margin-left: 600px;

}

.contactInfo {
    margin-left: 600px;
    margin-top: -300px;
}

.contactForm input {
    width: 100%;
    clear: both;
}

#facebookIcon, #instaIcon, #twitterIcon {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 200px;
}

